<div class="min-h-screen bg-white dark:bg-gray-900 text-gray-900 dark:text-white transition-colors duration-300">
  <header>
    <app-navbar ></app-navbar>
  </header>

  <main class="pt-24 space-y-8">
    <section id="sobre-mi">
      <app-sobre-mi ></app-sobre-mi>
    </section>

    <section id="experiencia">
      <app-experiencia></app-experiencia>
    </section>

    <section id="habilidades">
      <app-habilidades></app-habilidades>
    </section>

    <section id="proyectos">
      <app-proyectos></app-proyectos>
    </section>

    <section id="contacto">
      <app-contacto></app-contacto>
    </section>
  </main>

<app-footer></app-footer>
<app-scroll-to-top></app-scroll-to-top>
</div>
